{% extends 'base.html' %}

{% block title %}
    Create a Receipt
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'home' %}">Receipt List</a>
        </nav>
    </header>
    <main>
        <div>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
